<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Dream Entry</h5>
          <p>
            <strong>By: </strong>: {{this.user.name}}</p>
          <p>
          <p>
            <strong>Title: </strong>: {{this.specificNap.dreamTitle}}</p>
          <p>
            <strong>Description:</strong> {{this.specificNap.description}}</p>
            <a href="/user/{{this.user.id}}">← Back To {{this.user.name}}'s page</a>
        </div>
      </div>
    </div>
  </div>
</div>
