<style>
canvas {
    position: absolute;
    top: 0px;
    margin-top: 0px;
    z-index: 0;
    display: inline;
    z-index: -1;
}

.background {
    position: relative;
    {{!-- display: inline; --}}
    z-index: 1;
    margin-top: 50px;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: 	#67816C;
    color: #FFF;
    padding: 4% 0;
    font-family: 'Amatic SC', cursive;
    font-size: 2.2em;
    border: 0;
    {{!-- position: fixed; --}}
    {{!-- max-width: 200px; --}}
    {{!-- overflow: auto; --}}
}

.navbar-text {
    font-size: 150px;
     display: block;
     position: absolute; 
    left: 50%;
    transform: translatex(-50%); 
}

.navbar-brand {
    float: left;
    min-height: 65px;
    max-height: 300px;
    padding: 0 15px 5px;
    font-family: 'Amatic SC', cursive;
    font-size: .7em;
}

.navbar-brand img {
    height: auto;
    width:70px;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
    color: black;
}

.navbar-inverse .navbar-nav li a {
    color: #D5D5;
}

h1 {
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

#loggedNaps {
    color: black;
}

</style>


<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <p class="navbar-text">Shut Eye</p> 
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="pics/darkCloud.png">Do Sheep Dream</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    <li class="active">
                        <a href="/addnaps">Add Nap</a>
                    </li>
                    <li class="active">
                        <a href="/users">Users</a>
                    </li>
                    <li class="active">
                        <a href="/maps">Nap Map</a>
                    </li>
                    <li class="active">
                        <a href="/alarm">Go to sleep</a>
                    </li>
                    <li class="active">
                        <a href="/facts">Pillow Talk</a>
                    </li>
                    <li class="active">
                        <a href="/sleepy">Count Sheep</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

<div class="container">

    <div class="row">
        <div class="col-8 offset-2" data-userpageid="{{this.user.id}}">
            <div class="specificUser" >{{this.user.name}}</div>
        </div>
    </div>  

    <div class="row">
        <div class="col-8 offset-2">    
            <h2>Submit a Dream</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">    
            <form class="clearfix mb-4" action="POST">
                <div class="form-group">
                    <label for="napper-text">Title</label>
                    <input type="text" id="title-text" class="form-control" aria-describedby="example-text" placeholder="Title your dream">
                </div>
                <div class="form-group">
                    <label for="example-description">Dream Description</label>
                    <textarea class="form-control" id="dream-description" aria-describedby="example-description" placeholder="Describe your dream"></textarea>
                </div>
                <button id="submitDream" class="btn btn-primary float-right">Submit</button>
            </form>
        </div>
    </div>
  
    
    {{#each naps}}
        {{log this.dataValues.UserId}}
        <div class="row">
            <div class="col-8 offset-2">
                <a id="loggedNaps"href="/entry/{{this.dataValues.UserId}}">
                    <div>Dream Title: <div>{{this.dataValues.dreamTitle}}</div></div>
                    <div>Dream Description: <div>{{this.dataValues.description}}</div></div>
                    <br>
                </a>
            </div>
        </div>  

    {{/each}}
</div>

<script src="/js/diagonal.js"></script>
<canvas id="myCanvas"></canvas>

</body>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/js/index.js"></script>


